Source: v2utils
Priority: optional
Maintainer: Renzo Davoli <renzo@cs.unibo.it>
Build-Depends: debhelper-compat (= 12), cmake (>= 3.12), libcap-dev
Standards-Version: 4.4.0
Section: libs
Homepage: http://www.virtualsquare.org/
Vcs-Git: https://github.com/virtualsquare/v2utils

Package: strcase-dev
Architecture: all
Depends: ${misc:Depends}
Section: libdevel
Description: Multiway branch (switch) for short strings in C
 strcase (or strcase_tolower) can be used in the expression of a switch
 statement to convert a string to an integer type, STRCASE generates  at
 compile time the integer constants for the case stanzas of the switch.
 .
 This package contains the development files used for C programs.

Package: libstropt-dev
Section: libdevel
Architecture: any
Depends: libstropt0 (= ${binary:Version}), ${misc:Depends}
Description: parse options from a string (supports quotation, option arguments)
 This small library parses a list of options from a string. Options can
 be separated by spaces, commas, semicolons, tabs or new line.  Options
 may have arguments.  It is possible to protect symbols and spaces using
 quote, double quote and backslash.
 .
 This package contains the development files used for C programs.

Package: libstropt0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: parse options from a string (supports quotation, option arguments)
 This small library parses a list of options from a string. Options can
 be separated by spaces, commas, semicolons, tabs or new line.  Options
 may have arguments.  It is possible to protect symbols and spaces using
 quote, double quote and backslash.
 .
 This package contains the shared library.

Package: libfduserdata-dev
Section: libdevel
Architecture: any
Depends: libfduserdata0 (= ${binary:Version}), ${misc:Depends}
Description: associate file descriptors with user defined data
 This small library permits one to associate user defined data to file
 descriptors.  This library is thread safe.
 .
 This package contains the development files used for C programs.

Package: libfduserdata0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: associate file descriptors with user defined data
 This small library permits one to associate user defined data to file
 descriptors.  This library is thread safe.
 .
 This package contains the shared library.

Package: libvpoll-dev
Section: libdevel
Architecture: any
Depends: libvpoll0 (= ${binary:Version}), ${misc:Depends}
Description:  generate synthetic events for poll/select/ppoll/pselect/epoll
 This library uses eventfd/VPOLL if provided by the kernel otherwise
 it  implements an emulator (providing only `EPOLLIN`, `EPOLLOUT` and a non
 standard version of EPOLLHUP/EPOLLRDHUP).
 .
 This package contains the development files used for C programs.

Package: libvpoll0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfduserdata0
Description:  generate synthetic events for poll/select/ppoll/pselect/epoll
 This library uses eventfd/VPOLL if provided by the kernel otherwise
 it  implements an emulator (providing only `EPOLLIN`, `EPOLLOUT` and a non
 standard version of EPOLLHUP/EPOLLRDHUP).
 .
 This package contains the shared library.

Package: libvolatilestream-dev
Section: libdevel
Architecture: any
Depends: libvolatilestream0 (= ${binary:Version}), ${misc:Depends}
Description:  stdio stream as volatile memory buffers
 A volatile stream is a stdio FILE* stream as a temporary dynamically
 allocated (and deallocated) memory buffer.
 The volstream_open function opens a stdio stream as a temporary memory
 buffer. The buffer is dynamically  allocated, grows as needed and it is
 automatically deallocated when the stream is closed.
 .
 This package contains the development files used for C programs.

Package: libvolatilestream0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  stdio stream as volatile memory buffers
 A volatile stream is a stdio FILE* stream as a temporary dynamically
 allocated (and deallocated) memory buffer.
 The volstream_open function opens a stdio stream as a temporary memory
 buffer. The buffer is dynamically  allocated, grows as needed and it is
 automatically deallocated when the stream is closed.
 .
 This package contains the shared library.

Package: libuserbindmount-dev
Section: libdevel
Architecture: any
Depends: libuserbindmount0 (= ${binary:Version}), ${misc:Depends}
Description: bind-mount in user namespaces
 Bind mount files and create user namespaces where bind mount is allowed
 as users. It does not need root access or specific capabilities to run
 (provided  user-namespaces  are  supported)
 .
 This package contains the development files used for C programs.

Package: libuserbindmount0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2
Description:  bind-mount in user namespaces
 Bind mount files and create user namespaces where bind mount is allowed
 as users. It does not need root access or specific capabilities to run
 (provided  user-namespaces  are  supported)
 .
 This package contains the shared library.

Package: userbindmount
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libuserbindmount0
Description:  bind-mount in user namespaces
 Bind mount files and create user namespaces where bind mount is allowed
 as users. It does not need root access or specific capabilities to run
 (provided  user-namespaces  are  supported)
 .
 This package contains the user command based on libuserbindmount.

Package: nlinline-dev
Architecture: all
Depends: ${misc:Depends}
Section: libdevel
Description: inline library for networking configuration (via netlink)
 nlinline (netlink inline) is a library of inline functions providing 
 C programmers with very handy functions to configure network stacks. 
 nlinline is entirely implemented in a header file, nlinline.h.
 .
 This package contains the development files used for C programs.

